body {
    margin: 0;
    font-family: sans-serif;
}

.hashtag-header {
    padding: 5rem;
    color: white;
    background-image: url("./Images/background-img.jpg");

    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
}

span {
    font-size: 1.3rem;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    vertical-align: middle;
    margin-left: -1.6rem;
}

.img-container {
    display: flex;
    justify-content: flex-end;
}

img:nth-of-type(1) {
    z-index: 8;
}

img:nth-of-type(2) {
    z-index: 7;
}

img:nth-of-type(3) {
    z-index: 6;
}

img:nth-of-type(4) {
    z-index: 5;
}

img:nth-of-type(5) {
    z-index: 4;
}

img:nth-of-type(6) {
    z-index: 3;
}

img:nth-of-type(7) {
    z-index: 2;
}

img:nth-of-type(8) {
    z-index: 1;
}
